#register_div_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Titulo e descrição */
  & > #register_div_texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.6rem;

    & > #register_text_h1 {
      color: var(--text-color-blue);
      font-family: 'Baloo 2', sans-serif;
      font-size: 62px;
      font-weight: 400px;
    }

    & > #register_text_h3 {
      color: var(--text-color-gray);
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400px;
      margin-top: -20px;
    }
  }

  /* Formulário */
  & > #register_form {
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
      0px 10px 10px -5px rgba(0, 0, 0, 0.04);
    min-width: 50vw;
    max-width: 80vw;
    height: 75%;
    display: flex;
    flex-direction: column;
    padding: 30px 30px;

    & > #register_div_inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-block: 20px;
      gap: 1.8rem;

      & > div > .register_input_label_text {
        color: var(--text-color-gray);
        font-family: 'Lexend Deca';
        font-size: 14px;
        font-weight: 400;

        & > span {
          display: inline-flex;
          align-items: center;
          padding: 2px;
          color: red;
          gap: 8px;

          & > p {
            margin: 0;
            font-size: 14px;
            line-height: 1;
          }
        }
      }

      & > div > #register_div_input_password,
      #register_div_input_confirmpassword {
        display: flex;
        position: relative;

        & > button {
          position: absolute;
          top: 35%;
          left: 95%;
          scale: 120%;
          border: none;
          background: none;
          cursor: pointer;
          color: var(--text-color-gray);
        }
      }

      & .register_input_text {
        display: flex;
        min-width: 50vw;
        max-width: 80vw;
        padding: 15px;
        align-items: center;
        gap: 10px;
        border-radius: 9px;
        outline: none;
      }
    }

    & > #register_helpers {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 2rem;

      & > #register_div_remember {
        display: flex;
        align-items: center;
        gap: 0.4rem;

        & > input {
          cursor: pointer;
          accent-color: var(--text-color-blue);
        }

        & > label {
          color: var(--text-color-gray);
          font-family: 'Lexend Deca';
          font-size: 12px;
          font-weight: 400px;

          & > span {
            color: var(--text-color-blue);
            cursor: pointer;
          }
        }
      }
    }

    & > #register_div_button_join {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;

      & #register_button_join {
        font-family: 'Baloo 2', sans-serif;
        font-weight: 600;
        min-width: 50vw;
        max-width: 80vw;
        height: 51px;
      }
    }

    & > #register_text_span_createaccount {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--text-color-gray);
      font-family: 'Lexend Deca';
      font-size: 14px;
      font-weight: 400;
      padding-bottom: 20px;

      & > #register_text_link_createaccount {
        margin-left: 4px;
        color: var(--text-color-blue);
        text-decoration: none;
      }
    }

    & > #register_div_spaces {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.8rem;
      padding-bottom: 20px;

      & > span {
        color: var(--text-color-gray);
        font-family: 'Lexend Deca';
        font-size: 14px;
        font-weight: 400px;
      }
    }

    & > #register_div_button_google {
      display: flex;
      justify-content: center;
      align-items: center;

      & #register_button_join_google {
        min-width: 50vw;
        max-width: 80vw;
        height: 51px;
      }
    }
  }
}

/* Div que contém um espaçamento */
.register_div_space {
  display: flex;

  width: 165px;
  height: 1.5px;
  background: #cacaca;
}

/* Detalhes inputs */
.register_common_input {
  border: 1px solid rgba(121, 121, 121, 0.58);
}

.register_incorrect_input {
  border: 1px solid red;
}
