@media (min-width: 1600px) {
  #home_index {
    & > #home_index_div_cards {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6rem;
      scale: 120%;
    }
  }
}

@media (max-width: 1000px) {
  #home_index {
    & > #home_index_div_cards {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      scale: 60%;
    }
  }
}

@media (min-width: 850px) {
  #home_index {
    min-height: initial; 
    max-height: 100vh;
  }
}

@media (max-width: 850px) {
  #home_plans {
    & > #home_plans_div_cards {
      flex-direction: column;
    }
  }
}

@media (max-width: 740px) {
  #home_index {
    min-height: 100vh;
    height: auto; 
  }

  #home_technology {
    min-height: 100vh; 
    height: auto;
    
    & > section > #home_technology_div_info {
      & > div > img {
        display: none;
      }
    }
  }
}

@media (max-width: 560px) {
  #home_technology {
    & > #home_technology_div_title > h2 {
      text-align: center;
    }

    & > section > #home_technology_div_info {
      & > div > div > span {
        min-width: 100%;
        max-width: 100%;
        font-size: 16px;
      }
    }
  }

  #home_plans {
    & > #home_plans_div_cards {
      & .home_plans_components {
        scale: 90%;
      }
    }
  }
}

@media (max-width: 480px) {
  #home_index {
    & > #home_index_div_title {
      & h1 {
        font-size: 40px;
      }

      & p {
        font-size: 18px;
      }
    }

    & > #home_index_div_cards {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      gap: 0;
    }
  }

  #home_technology {
    & > #home_technology_div_title {
      & h1 {
        font-size: 40px;
      }

      & p {
        font-size: 18px;
      }
    }
  }

  #home_goTop {
    left: 85%;
  }
}

@media (max-width: 430px) {
  #home_technology {
    & > section > #home_technology_div_info {
      padding: 30px;
      & > h4 {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 570px) {
  #home_navbar {
    display: none;
  }
}
