@media (min-width: 1920px) {
  #home_index {
    & > #home_index_div_cards {
      gap: 6rem;
      scale: 120%;
      flex-wrap: wrap;
      max-width: 80%; 
      margin: 0 auto; 
      padding-bottom: 2rem;
    }
  }
}

@media (min-width: 1600px) and (max-width: 1919px) {
  #home_index {
    & > #home_index_div_cards {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6rem;
      scale: 120%;
      flex-wrap: wrap;
      max-width: 80%; 
      margin: 0 auto; 
    }
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  #home_index {
    & > #home_index_div_cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 3rem;
      scale: 95%;
      max-width: 80%; 
      margin: 0 auto;
    }
  }
}

@media (min-width: 1001px) and (max-width: 1199px) {
  #home_index {
    & > #home_index_div_cards {
      gap: 3rem;
      scale: 90%;
      max-width: 90%;
      margin: 0 auto;
    }
  }
  #home_technology > section > #home_technology_div_info {
    padding: 0 4%;
  }
}

@media (max-width: 1000px) {
  #home_index {
    & > #home_index_div_cards {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      scale: 70%;
    }
  }
  #home_technology > section > #home_technology_div_info {
    flex-direction: column;
    align-items: center;
    padding: 0 3%;
  }
  #home_technology > section > #home_technology_div_info > div > img {
    max-width: 80%;
    height: auto;
    margin-bottom: 2rem;
  }
}

@media (min-width: 851px) and (max-width: 999px) {
  #home_index {
    min-height: initial;
    max-height: 100vh;
  }
  #home_index > #home_index_div_title {
    padding: 2rem;
  }
  #home_index > #home_index_div_cards {
    scale: 80%;
    flex-wrap: wrap;
  }
}

@media (max-width: 850px) {
  #home_plans {
    & > #home_plans_div_cards {
      flex-direction: column;
      align-items: center;
    }
  }

  #home_index {
    & > #home_index_div_cards {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      scale: 90%;
      gap: 1rem;
    }
  }
  #home_index_div_title {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  #home_index {
    min-height: 100vh;
    height: auto;
    padding-bottom: 2rem;
  }

  #home_technology {
    min-height: 100vh;
    height: auto;
    padding-bottom: 2rem;

    & > section > #home_technology_div_info {
      flex-direction: column;
      align-items: center;
      padding: 1rem;
    }
    & > section > #home_technology_div_info > div > img {
      display: none;
    }
  }
  #home_plans {
    padding-bottom: 2rem;
  }
}

@media (max-width: 560px) {
  #home_technology {
    & > #home_technology_div_title > h2 {
      text-align: center;
      font-size: 1.8rem;
    }

    & > section > #home_technology_div_info {
      & > div > div > span {
        min-width: 100%;
        max-width: 100%;
        font-size: 16px;
        text-align: center;
      }
    }
  }

  #home_plans {
    & > #home_plans_div_cards {
      & .home_plans_components {
        scale: 90%;
      }
    }
  }
  #home_index_div_title h1 {
    font-size: 2.5rem;
  }
  #home_index_div_title p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  #home_index {
    & > #home_index_div_title {
      & h1 {
        font-size: 40px;
      }

      & p {
        font-size: 18px;
      }
    }

    & > #home_index_div_cards {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      gap: 0;
    }
  }

  #home_technology {
    & > #home_technology_div_title {
      & h1 {
        font-size: 40px;
      }

      & p {
        font-size: 18px;
      }
    }
  }

  #home_goTop {
    left: 80%;
    bottom: 5%;
  }
}

@media (max-width: 430px) {
  #home_technology {
    & > section > #home_technology_div_info {
      padding: 20px;
      & > h4 {
        font-size: 16px;
        text-align: center;
      }
    }
  }
  #home_index_div_title h1 {
    font-size: 2rem;
  }
  #home_index_div_title p {
    font-size: 0.9rem;
  }
}

@media (max-width: 570px) {
  #home_navbar {
    display: none;
  }
}
