#home_div_container {
  & > #home_div_texts {
    padding-block: 25px;

    & > h1 {
      font-family: "Baloo 2", sans-serif;
      color: var(--text-color-blue);
      font-weight: 400px;
      display: flex;
      align-content: center;
      justify-content: center;
      text-align: center;
      font-size: 48px;
      line-height: 40px;
    }

    & > p {
      margin-top: 15px;
      font-family: "Roboto", sans-serif;
      color: var(--text-color-gray);
      text-align: center;
    }
  }

  & > #home_div_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 0.8rem;
    justify-items: center;
    padding-bottom: 0.6rem;
  }

  & > #home_div_button_start {
    display: flex;
    justify-content: center;
    gap: 20px;
    line-height: 35px;
    font-weight: 400px;
    padding-bottom: 25px;
  }
}

@media (max-width: 480px) {
  #home_div_container {
    & > #home_div_texts {
      & > h1 {
        font-size: 40px;
      }

      & > p {
        font-size: 12px;
      }
    }
    & > #home_div_button_start {
      scale: 80%;
    }

    & > #home_div_cards {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      gap: 0;
    }
  }
}
