
.home {
  > .navbar {
    display: flex;
    justify-content: space-between;
    color: #000000;
    align-items: center;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

  > #texts {
    padding-block: 25px;
  }

  > #texts > h1 {
    font-family: "Baloo 2", sans-serif;
    color: #2463EB;
    font-weight: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 48px;
    line-height: 40px;
  }

  > #texts >  p {
    margin-top: 15px;
    font-family: "Roboto", sans-serif;
    color: #4B5563;
    text-align: center;
  }
}

#cards {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  padding-bottom: .6rem;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  line-height: 35px;
  font-weight: 400px;
  padding-bottom: 25px;
}


img {
  width: 40px;
  height: 40px;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  > h2 {
    font-family: "Lexend Deca", sans-serif;
    color: #000000;
  }
}