#component_button_google_div {
  & > button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background: white;
    border: 1px solid #dadce0;
    border-radius: 20px;
    cursor: pointer;
    font-family: Roboto;
    font-weight: 500;
    transition: all ease .4s;

    &:hover {
      background: var(--text-color-blue);
      color: white;
    }
  }
}
