#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 26px;

  & #active {
    border-bottom: 0.8px solid #4b5563;
  }

  & .buttonChat {
    scale: 80%;
  }

  & > h2 {
    font-family: "Lexend Deca";
    font-size: 26px;
    font-weight: 400;
  }

  & > ul {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 50px;
    font-family: "Lexend Deca";
    font-size: 16px;
    font-weight: 400;
    list-style: none;

    & > li > a {
      cursor: pointer;
      transition: color 0.5s ease;
      text-decoration: none;
      color: #4b5563;
    }

    & > li > a:hover {
      color: #000000;
      opacity: 0.42;
    }
  }

  & .component_footer_button_one {
    scale: 80%;
  }
}
