#component_navbar_div_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 26px;

  & #component_navbar_li_active {
    border-bottom: 0.8px solid #4b5563;
  }

  & > #component_navbar_div_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & > h2 {
      font-family: "Lexend Deca", sans-serif;
      color: #000000;
      font-size: 26px;
      font-weight: 400;
    }

    & > img {
      width: 40px;
      height: 40px;
    }
  }

  & > ul {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 50px;
    font-family: "Lexend Deca";
    font-size: 16px;
    font-weight: 400;
    list-style: none;

    & > li > a {
      cursor: pointer;
      transition: color 0.5s ease;
      text-decoration: none;
      color: #4b5563;
    }

    & > li > a:hover {
      color: #000000;
      opacity: 0.42;
    }
  }

  & #component_navbar_button_one {
    scale: 80%;
  }
}
