#component_termsandprivacy_div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    z-index: 1001;
    border-radius: 16px;
    background: white;
    box-shadow: 0px 20px 24px -4px rgba(10, 13, 18, 0.10), 0px 8px 8px -4px rgba(10, 13, 18, 0.04);
    padding: 20px 20px;

    & > h3,h4 {
        text-align: center;
        font-size: 26px;
        color: var(--text-color-blue);
        font-family: "Baloo2", sans-serif;
        font-weight: 700;
    }

    & > h4 {
        color: var(--text-color-gray);
        font-size: 16px;
        padding-bottom: 1.5rem;
    }

    & > #component_termsandprivacy_div_container {
        padding: 30px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        overflow-y: auto;
        color: var(--text-color-gray);
    }

    & > #component_termsandprivacy_div_button {
        display: flex;
        justify-content: center;
        align-items: center;

        & #component_termsandprivacy_button_one {
            width: 600px;
        }
    }
}

#component_termsandprivacy_div_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 1000;
}