@media (max-width: 768px) {
  #component_footer_container {
    margin-top: 1rem;
    padding: 1rem 0;

    & > p {
      font-size: 0.85rem;
      padding: 1rem;
    }
  }
}

@media (max-width: 480px) {
  #component_footer_container {
    margin-top: 0.5rem;
    padding: 0.8rem 0;

    & > p {
      font-size: 0.75rem;
      padding: 0.8rem;
    }
  }
}
