
#component_footer_container {
  background: var(--text-color-blue);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.60);
  opacity: .8;
  z-index: 1;
  position: relative;
  width: 100%; 
  padding: 1.5rem 0;
  margin-top: 1.8rem;

  & > p {
    font-family: "Baloo2", sans-serif;
    text-align: center;
    color: #d1d5db;
    font-size: 0.95rem;
  }
}