#home_component_cardhome_div_container {
  border-radius: 9px;
  padding: 20px 20px;
  background: #FFF;
  width: 387px;
  height: 190px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  & > #home_component_cardhome_div_title {
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: center;

    & > h5 {
      color: #000;
      font-family: "Roboto", sans-serif;
      font-size: 26px;
      font-weight: 400;
    }

    & > img {
      width: 48px;
      height: 48px;
      border-radius: 25px;
    }
  }

  & #home_component_cardhome_div_space {
    width: 379px;
    height: 0.8px;
    margin-block: 15px;
    background: #CACACA;
  }

  & > p {
    color: var(--text-color-gray);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  #home_component_cardhome_div_container {
    scale: 85%;
  }
}
