#component_footer_div_container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-block: 1rem;

  > p {
    color: var(--text-color-gray);
    font-size: 12px;

    > span {
      font-weight: bold;
    }
  }
}
