#component_footer_div_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-block: 1rem;
  text-align: center;

  & > p {
    color: var(--text-color-gray);
    font-size: 12px;

    & > span {
      font-weight: bold;
    }
  }
}
